@theme {
	--color-primary: #334f52;
	--color-secondary: #7b888e;
	--color-brand-secondary: #6366f1;
	--color-bg: #fafafa;
	--color-border: #f0f0f0;
	--color-brand: #8b5cf6;
	--color-card: #ffffffcc;
	--color-article: #ffffffee;

	--font-averia: 'Averia Gruesa Libre', sans-serif;
	--font-sans:
		'PingFang SC', -apple-system, system-ui, 'Segoe UI', Roboto, Ubuntu, Cantarell, 'Noto Sans', sans-serif, BlinkMacSystemFont, 'Helvetica Neue',
		'Hiragino Sans GB', 'Microsoft YaHei', Arial;
}
