---
import Layout from '@/layouts/MainLayout.astro';
import Navbar from '@/components/Navbar';
import PostGrid from '@/components/PostGrid';
---

<Layout title="文章 - 我的博客">
  <Navbar client:load />
  <main className="pt-20">
    <PostGrid client:load />
  </main>
</Layout>
